################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/nimotsukun/.vs/nimotsukun/v16/Browse.VC.opendb
